.header{
    background-color:brown;
    background-image: url('../images/grandma2.jpg');
    height: 300px;
    background-size: contain;
    /* text-align: center; */
    
    
    
}
div{
    background-color:beige;
    border-radius: 10px;
    padding: 10px;
    border: 10px solid tomato;
    margin: 10px;
    box-shadow: 5px 5px 5px yellowgreen;
}
.matha{
    margin-bottom: 5%;
    text-align: center;
    color: rgb(4, 136, 136);
    /* text-shadow: 10% ; */
    /* border: 2px solid red; */
    text-decoration: underline brown;
}
.para{
    background-color: bisque;
    border-radius: 10px;
}
img{
    width: 300px;
    border: 2px dashed tomato;
}
.sm{
    color: cadetblue;
}
.aa{
    color:chocolate;
}
.button{
    color:gold;
    background-color: lightblue;
    margin-left: 90%;
}
.anchor{
    margin-right: 50%;
}